<div id="navBurger" class="w-full h-full relative">
    <div class="absolute bg-black w-[0.6rem] h-[0.6rem] rounded-sm left-0 top-0"></div>
    <div class="absolute bg-black w-[0.6rem] h-[0.6rem] rounded-sm right-0 top-0"></div>
    <div class="absolute bg-black w-[0.6rem] h-[0.6rem] rounded-sm right-0 bottom-0"></div>
    <div class="absolute bg-black w-[0.6rem] h-[0.6rem] rounded-sm left-0 bottom-0"></div>
</div>