---
export interface Props {
    title: string,
    body: string,
}

const { title, body } = Astro.props
---

<div class="min-w-[83vw] w-[83vw] first:ml-0 last:mr-0 mx-3 h-fit rounded-2xl overflow-clip shadow-xl relative snap-center">
    <div class="h-44 bg-slate-400"></div>
    <span class="w-[45%] h-2 absolute bg-custom-purple-dark" />
    <div class="h-56 bg-white flex flex-col justify-start items-start">
        <h3 class="p-4 pl-3 text-2xl font-DIN font-semibold tracking-wider text-custom-purple-dark">
            {title}
        </h3>
        <p class="px-5 text-base font-DIN font-semibold">{body}</p>
    </div>
</div>