---
import SectionTitle from "../../components/SectionTitle.astro";
import ServiceCard from "../../components/ServiceCard.astro";
---

<section class="flex flex-col items-start justify-start bg-custom-pageBackground-purple">
    <SectionTitle color="purple" text="BEHANDLUNGEN" twclass="mt-10 mx-auto" />
    <div class="w-[100vw] h-fit py-10 px-6 flex justify-start items-center rounded-lg overflow-x-scroll snap-x snap-mandatory">
        <ServiceCard title="Prophylaxe" body="Lorem ipsum dolor sit amet consectetur. Suspendisse diam at posuere ornare nisi. Urna consequat amet vitae est tortor."/>
        <ServiceCard title="Prophylaxe" body="Lorem ipsum dolor sit amet consectetur. Suspendisse diam at posuere ornare nisi. Urna consequat amet vitae est tortor."/>
        <ServiceCard title="Prophylaxe" body="Lorem ipsum dolor sit amet consectetur. Suspendisse diam at posuere ornare nisi. Urna consequat amet vitae est tortor."/>
    </div>
</section>