---
import PhoneButton from "../components/reusable/PhoneButton.astro";
import SizedBox from "../components/reusable/SizedBox.astro";
import Layout from "../layouts/Layout.astro";

---

<Layout title="Impressum | Zahnarzt M. Schams">
    <SizedBox style="w-full h-28" />
    <main class="h-fit mb-20 w-full bg-custom-pageBackground-blue">
        <h3>Zahnarztpraxis M. Schams</h3>
        <h2>Impressum</h2>
        <div class="font-DIN text-2xl leading-4 mt-[0.5rem] mb-6 ml-8 text-gray-500">Angaben gemäß § 5 TMG</div>
        <p class="page-text" style="line-height: 1.3rem">
            Zahnarztpraxis M. Schams
            <br />
            Muzhgan Schams
            <br />
            Grachtenplatz 11
            <br />
            21031 Hamburg
        </p>
        <div class="flex ml-10">
            <p class="page-text  text-right" style="padding: 0;">
                Tel.
                <br />
                Fax
                <br />
                Mail
                <br />
                Web
            </p>
            
            <p class="page-text ml-8" style="padding: 0;">
                +49 40 735 34 35
                <br />
                Fax
                <br />
                info@zahnarzt-schams.de
                <br />
                www.zahnarzt-schams.de
            </p>
        </div>
        <p class="page-text">
            Berufsbezeichnung <b class="text-[1rem]">Zahnarzt</b>
            <br />
            verliehen im Staat <b class="text-[1rem]">Bundesrepublik Deutschland</b>
        </p>

        <h4>Zahnärztliche Leitung</h4>
        <p class="page-text" style="margin-top: 0.4rem;">Muzhgan Schams</p>

        <h4>Zuständige Kammer</h4>
        <p class="page-text" style="line-height: 1.3rem">
            Zahnärztekammer Hamburg
            <br />
            Weidestraße 122 b
            <br />
            22083 Hamburg
            <br />
            Tel.: 040 73 34 05-0
            <br />
            Fax: 040 73 34 05 99 99
            <br />
            Mail: info@zaek-hh.de
        </p>

        <h4>Strahlenschutzbeauftrage</h4>
        <p class="page-text">Muzhgan Schams</p>

        <h4>Berufsrechtliche Regelungen</h4>
        <p class="page-text">Zahnheilkundegesetz, Hamburgisches Kammergesetz für die Heilberufe, Gebührenordnung für Zahnärzte, Berufsordnung der Zahnärztekammer Hamburg</p>
        <p class="page-text">
            Die Regelungen sind einsehbar unter 
            https://www.zahnaerzte-hh.de/zahnaerzte-portal/praxis/rechtliches/telemediengesetz/
        </p>

        <h4>Umsatzsteuer-Identifikationsnummer</h4>
        <p class="page-text">##TO DO##</p>
        
        <SizedBox style="w-full h-28" />
        <p class="page-subtitle">Wir freuen uns darauf, von Ihnen zu hören!</p>
    </main>
</Layout>