---
import SectionText from "../reusable/SectionText.astro";
import SectionTitle from "../reusable/SectionTitle.astro";
import ServiceCard from "../reusable/ServiceCard.astro";
---

<section class="flex flex-col pt-10 items-start justify-start bg-custom-pageBackground-purple">
    <SectionTitle color="purple" text="BEHANDLUNGEN" twclass="mx-auto" />
    <SectionText>
        Um sicherzustellen, dass wir für Sie in jeder Situation eine passende Lösung finden können, bieten wir ein umfangreiches Spektrum zahnärztlicher Behandlungen an. Vom professionellen Zahnreinigungsservice 
         bis hin zu komplexen Implantat- und Restaurationsverfahren stehen wir Ihnen mit unserem fundierten Fachwissen und 
         unserer langjährigen Erfahrung zur Verfügung.
    </SectionText>
    <div class="w-[100vw] h-fit pb-20 px-6 flex justify-start items-center rounded-lg overflow-x-scroll snap-x snap-mandatory">
        <ServiceCard 
            title="Professionelle Zahnreinigung" 
            previewText="Eine regelmäßige professionelle Zahnreinigung ist essentiell für die Gesundheit und das strahlende Aussehen Ihrer Zähne. Wir bieten Ihnen eine schonende und effektive Reinigung..."
            body="Eine regelmäßige professionelle Zahnreinigung ist essentiell für die Gesundheit und das strahlende Aussehen Ihrer Zähne. Wir bieten Ihnen eine schonende und effektive Reinigung, die Plaque, Zahnstein und Verfärbungen entfernt und Ihre Zähne langfristig schützt. Vereinbaren Sie noch heute einen Termin und erleben Sie das Gefühl sauberer und gesunder Zähne!"/>
        <ServiceCard 
            title="Prophylaxe"
            previewText="Vorbeugende Maßnahmen sind der beste Weg, um Ihre Zahngesundheit zu erhalten. In unserer Zahnarztpraxis bieten wir Ihnen verschiedene Prophylaxemaßnahmen wie professionelle Zahnreinigung..."
            body="Vorbeugende Maßnahmen sind der beste Weg, um Ihre Zahngesundheit zu erhalten. In unserer Zahnarztpraxis bieten wir Ihnen verschiedene Prophylaxemaßnahmen wie professionelle Zahnreinigung, Fluoridierung und individuelle Mundhygiene-Beratung. Unsere erfahrenen Zahnärzte helfen Ihnen dabei, Ihre Zähne langfristig gesund zu halten und Zahnerkrankungen zu vermeiden. Wir setzen modernste Technologie und sanfte Behandlungsmethoden ein, um Ihnen ein angenehmes und entspanntes Erlebnis zu bieten. Kontaktieren Sie uns noch heute, um einen Termin für eine umfassende Prophylaxe-Beratung zu vereinbaren und Ihre Zahngesundheit zu fördern."
        />
        <ServiceCard
            title="Wurzelbehandlungen"
            previewText="Eine Wurzelbehandlung kann notwendig werden, wenn das Innere des Zahns, das sogenannte Zahnmark, entzündet oder abgestorben ist. In unserer Zahnarztpraxis führen wir Wurzelbehandlungen..."
            body="Eine Wurzelbehandlung kann notwendig werden, wenn das Innere des Zahns, das sogenannte Zahnmark, entzündet oder abgestorben ist. In unserer Zahnarztpraxis führen wir Wurzelbehandlungen auf höchstem Niveau durch und legen großen Wert auf eine schonende und schmerzfreie Behandlung. Unsere modernen Technologien und unsere erfahrenen Zahnärzte gewährleisten eine erfolgreiche und langfristige Wiederherstellung Ihrer Zahngesundheit. Kontaktieren Sie uns noch heute, um einen Termin zu vereinbaren und Ihr Lächeln zu retten!"
        />
        <ServiceCard
            title="Zahnextraktionen"
            previewText="Manchmal kann es notwendig sein, einen Zahn zu entfernen, zum Beispiel bei fortgeschrittenem Karies, einer schweren Zahnfleischentzündung oder Platzmangel im Kiefer. Bei uns können Sie sich auf eine..."
            body="Manchmal kann es notwendig sein, einen Zahn zu entfernen, zum Beispiel bei fortgeschrittenem Karies, einer schweren Zahnfleischentzündung oder Platzmangel im Kiefer. Bei uns können Sie sich auf eine sichere und schonende Zahnextraktion verlassen. Unsere erfahrenen Zahnärzte sorgen für eine schmerzfreie Behandlung und eine schnelle Genesung. Wir kümmern uns um Ihre Zahngesundheit und bieten Ihnen auch nach der Zahnextraktion eine umfassende Nachsorge an. Vereinbaren Sie noch heute einen Termin und lassen Sie uns gemeinsam eine Lösung für Ihre Zahngesundheit finden."
        />
        <ServiceCard
            title="Zahnimplantate" 
            previewText="Ein Zahnverlust kann nicht nur das Kauen und Sprechen erschweren, sondern auch das Selbstbewusstsein beeinträchtigen. Unsere Zahnarztpraxis bietet Ihnen hochwertige Zahnimplantate, die..."
            body="LEin Zahnverlust kann nicht nur das Kauen und Sprechen erschweren, sondern auch das Selbstbewusstsein beeinträchtigen. Unsere Zahnarztpraxis bietet Ihnen hochwertige Zahnimplantate, die eine natürliche Optik und ein sicheres Kaugefühl gewährleisten. Unsere erfahrenen Zahnärzte beraten Sie individuell und führen die Implantation schonend und schmerzfrei durch. Wir legen großen Wert auf Qualität und Langlebigkeit unserer Implantate, damit Sie sich langfristig an Ihrem neuen Lächeln erfreuen können. Kontaktieren Sie uns noch heute, um einen Termin für eine unverbindliche Beratung zu vereinbaren."
        />
        <ServiceCard
            title="Zahnprothesen" 
            previewText="Zahnprothesen sind eine bewährte Lösung bei starkem Zahnverlust, um die Funktionalität und Ästhetik des Gebisses wiederherzustellen. Unsere Zahnarztpraxis bietet Ihnen hochwertige..."
            body="Zahnprothesen sind eine bewährte Lösung bei starkem Zahnverlust, um die Funktionalität und Ästhetik des Gebisses wiederherzustellen. Unsere Zahnarztpraxis bietet Ihnen hochwertige und individuell angepasste Zahnprothesen, die Ihnen ein sicheres Kaugefühl und ein strahlendes Lächeln ermöglichen. Wir legen großen Wert auf eine sorgfältige Beratung und eine schonende Behandlung, damit Sie sich von Anfang an gut aufgehoben fühlen. Kontaktieren Sie uns noch heute, um einen Termin für eine unverbindliche Beratung zu vereinbaren und Ihre Zahngesundheit zu verbessern."
        />
    </div>
</section>