---
import OpeningHourRow from "../reusable/OpeningHourRow.astro";
import SectionText from "../reusable/SectionText.astro";
import SectionTitle from "../reusable/SectionTitle.astro";

---

<section class="flex justify-center items-center flex-col pb-10 pt-5 bg-custom-pageBackground-blue">
    <div class="px-4">
        <div class="text-xl font-Merriweather">Ob Routineuntersuchung oder umfangreiche Behandlung:</div>
        <div class="mt-3 px-2 font-DIN">Als Ihr Partner für gesunde Zähne bemühen wir uns, Ihnen einen Termin zu ermöglichen der gut in Ihren Zeitplan passt. </div>
    </div>

    <div class="w-full h-fit flex justify-start mt-4 -mb-2">
        <SectionTitle text="ÖFFNUNGSZEITEN" color="blue" twclass="rounded-tr-2x"/>
    </div>

    <div class="w-full h-fit flex flex-col">
        <OpeningHourRow day="Montag" firstShift="09 - 13" secondShift="14 - 18"/>
        <OpeningHourRow day="Dienstag" firstShift="09 - 13" secondShift="14 - 18"/>
        <OpeningHourRow day="Mittwoch" firstShift="09 - 13" secondShift="14 - 18"/>
        <OpeningHourRow day="Donnerstag" firstShift="09 - 13" secondShift="14 - 18"/>
        <OpeningHourRow day="Freitag" firstShift="09 - 13" secondShift="14 - 18"/>
    </div>
</section>