---
import { Image } from "@astrojs/image/components";
import logo from "/public/logo.png";
import HeaderMenuButton from "./components/HeaderMenuButton.astro";
---

<header class="w-11/12 h-14 rounded-full bg-white shadow-xl fixed mx-auto right-0 left-0 mt-4 z-50 flex justify-center items-center">
    <Image src={logo} alt="logo" format="png" aspectRatio={`250:311`} height={50} width={} id="header-logo"/>
    <div class="absolute right-0 mr-8">
        <HeaderMenuButton />
    </div>
</header>

<style>
    #header-logo {
        transition: transform 0.2s ease-in-out;
    }
    
    header {
        transition: transform 0.2s ease-in-out;
    }
</style>

<script>
</script>

<script defer>
    const header = document.querySelector('header');
    let prevScrollY = window.scrollY;
    let positionMovedRecently = false;
    let navBarVisible = false;

    const hideNavBar = () => {
        header.style.transform = 'translateY(calc(-100% - 1rem))';
        navBarVisible = false;
        positionMovedRecently = true;


        setTimeout(() => {
            positionMovedRecently = false;
        }, 200);
    }

    const showNavBar = () => {
        if (navBarVisible) return;
        
        header.style.transform = 'translateY(0)';
        navBarVisible = true;
        positionMovedRecently = true;


        setTimeout(() => {
            positionMovedRecently = false;
        }, 800);
    }
    
    const scrollHandler = e => {
        if (positionMovedRecently) return;


        if (window.scrollY <= 56) showNavBar();
        else if (window.scrollY > prevScrollY) {
            hideNavBar();
        }
        else {
            showNavBar();
        }

        prevScrollY = window.scrollY;
    }
    
    window.addEventListener('scroll', scrollHandler);
</script>