---
import NavBarBurger from "./components/NavBarBurger.astro";
import MobileNavBarExtension from "./components/MobileNavBarExtension.astro";
import NavBarPageLink from "./components/NavBarPageLink.astro";
---

<header class="w-11/12 h-14 rounded-full mt-4 shadow-2xl z-40 fixed mx-auto right-0 left-0 flex justify-center items-center" data-active="inactive">
    
    <div class="w-full h-full rounded-full grow flex justify-center items-center z-50 bg-white px-8">
        <div id="header-logo-container" class="flex justify-start items-center w-10 transition-all" >
            <img src={"./logo.png"} id="header-logo" alt="" class="w-10 transition-all"/>
        </div>
        <div id="nav-burger-container" class="absolute right-2 mr-8 transition-all z-50">
            <NavBarBurger />
        </div>
        <div class="absolute w-full h-full overflow-clip pointer-events-none z-40">
            <div id="mobile-nav-bar-elements" class="w-full h-full flex justify-center items-center -translate-y-10 transition-all pointer-events-none">
                <NavBarPageLink label="Start" link="/" />
                <NavBarPageLink label="Behandlungen" link="/behandlungen" />
            </div>
        </div>
    </div>
    
    <MobileNavBarExtension />

</header>

<style>
    #header-logo-container.slide-away {
        width: 100% !important;
    }

    #header-logo.slide-away {
        width: 2rem !important;
        transform: rotate(-15deg);
    }
    
    #nav-burger-container.slide-away {
        right: 0rem !important;
    }

    #mobile-nav-bar-elements.slide-in {
        transform: translateY(0) !important;
        pointer-events: auto !important;
    }
    
    /* for navbar appear and disappear animation */
    header {
        transition: transform 0.2s ease-in-out;
    }

    @media (min-width: 768px) {
        #mobile-nav-bar-elements {
            display: none;
        }
    }
</style>

<script>
    const toggleNavMenu = () => {
        const header = document.querySelector('header');
        header.dataset.active = header.dataset.active === 'active' ? 'inactive' : 'active';
        
        const logo = document.getElementById('header-logo');
        const logoContainer = document.getElementById('header-logo-container');
        const navBurgerContainer = document.getElementById('nav-burger-container');
        const mobileNavMenu = document.getElementById('mobile-nav-menu');
        const mobileNavBarElements = document.getElementById('mobile-nav-bar-elements');
        const mobileNavBarExtensionElements = document.getElementById('mobile-nav-bar-extension-elements');
    

        logoContainer.classList.toggle('slide-away');
        logo.classList.toggle('slide-away');
        navBurgerContainer.classList.toggle('slide-away');
        mobileNavMenu.classList.toggle('hide-nav-menu');
        mobileNavBarExtensionElements.classList.toggle('hide-nav-menu');
        mobileNavBarElements.classList.toggle('slide-in');
    }
    
    const navBurger = document.getElementById('navBurger'); 
    navBurger.addEventListener('click', toggleNavMenu);
</script>

<script defer>
    const toggleNavMenu = () => {
        const header = document.querySelector('header');
        header.dataset.active = header.dataset.active === 'active' ? 'inactive' : 'active';
        
        const logo = document.getElementById('header-logo');
        const logoContainer = document.getElementById('header-logo-container');
        const navBurgerContainer = document.getElementById('nav-burger-container');
        const mobileNavMenu = document.getElementById('mobile-nav-menu');
        const mobileNavBarElements = document.getElementById('mobile-nav-bar-elements');
        const mobileNavBarExtensionElements = document.getElementById('mobile-nav-bar-extension-elements');
    

        logoContainer.classList.toggle('slide-away');
        logo.classList.toggle('slide-away');
        navBurgerContainer.classList.toggle('slide-away');
        mobileNavMenu.classList.toggle('hide-nav-menu');
        mobileNavBarExtensionElements.classList.toggle('hide-nav-menu');
        mobileNavBarElements.classList.toggle('slide-in');
    }
    
    const header = document.querySelector('header');
    let prevScrollY = window.scrollY;
    let positionMovedRecently = false;
    let navBarVisible = false;

    const hideNavBar = () => {
        if (header.dataset.active === 'active') toggleNavMenu();
        
        header.style.transform = 'translateY(calc(-100% - 1rem))';
        navBarVisible = false;
        positionMovedRecently = true;


        setTimeout(() => {
            positionMovedRecently = false;
        }, 200);
    }

    const showNavBar = () => {
        if (navBarVisible) return;
        
        header.style.transform = 'translateY(0)';
        navBarVisible = true;
        positionMovedRecently = true;


        setTimeout(() => {
            positionMovedRecently = false;
        }, 800);
    }
    
    const scrollHandler = e => {
        if (positionMovedRecently) return;


        if (window.scrollY <= 56) showNavBar();
        else if (window.scrollY > prevScrollY) {
            hideNavBar();
        }
        else {
            showNavBar();
        }

        prevScrollY = window.scrollY;
    }
    
    window.addEventListener('scroll', scrollHandler);
</script>